*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #333333;
  }

  .container {
    max-width: 2000px;
    margin: -0px auto;
    background-color: #020024 ;
    padding: 200px;
  }
  h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 5px;
  }

  .info {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
  }

  h2 {
    color: #ffffff;
    border-left: 5px solid #b00f0f;
    padding-left: 10px;
  }
  #h2{
background-color: #ffffff;

  }

  .dados {
    list-style: none;
    padding: 0;
  }

  .dados li {
    background-color:#833AB4;
    padding: 8px;
    margin-bottom: 6px;
    color: rgb(0, 0, 0);
  }

  .description-text{
    color: white;
  }

  p {
    line-height: 1.6;
  }

  footer {
    text-align: center;
    margin-top: 20px;
    color: #999999;
    font-size: 12px;
  }

  .galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }

  #fotos {
    width: 140px;
    height: 140px;
    background-color: #f0f0f0;
    color: #000000;
    font-size: 13px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .galeria .slot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
